<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/User/layout/layout :: mainContent('Detail Hotel',~{this::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="content" class="relative block" style="padding-top: 4rem">
 <div class="container my-5">
     <h1 class="text-center mb-4">Order List</h1>
     <div class="tabs">
         <div class="tab active">Hotel</div>
         <div class="tab">Flight</div>
     </div>
     <div class="tab-content active" id="hotel">
         <h3>Hotel Booking Details</h3>
         <table>
             <thead>
             <tr>
                 <th>Hotel Name</th>
                 <th>Type Room</th>
                 <th>Check-in Date</th>
                 <th>Check-out Date</th>

                 <th>Guests</th>
             </tr>
             </thead>
             <tbody>
                <th:block th:each="hotel,index:${Hotel}">
                    <tr>
                        <td th:text="${hotel.hotelName}"></td>
                        <td th:text="${hotel.typeRoom}"></td>
                        <td th:text="${hotel.checkInDate}"></td>
                        <td th:text="${hotel.checkOutDate}"></td>
                        <td th:text="${hotel.totalRoom}"></td>
                    </tr>
                </th:block>
             </tbody>
         </table>
     </div>
     <div class="tab-content " id="flight">
         <h3>Flight Booking Details</h3>
         <table>
             <thead>
             <tr>
                 <th>Flight Number</th>
                 <th>Departure Airport</th>
                 <th>Arrival Airport</th>
                 <th>Departure Date</th>
                 <th>Arrival Date</th>

             </tr>
             </thead>
             <tbody>
             <th:block th:each="flight,index:${Flight}">
                 <tr>
                     <td th:text="${flight.flightNo}"></td>
                     <td th:text="${flight.departAirport}"></td>
                     <td th:text="${flight.arrivalAirport}"></td>
                     <td th:text="${flight.departureTime}"></td>
                     <td th:text="${flight.arrivalTime}"></td>
                 </tr>
             </th:block>

             </tbody>
         </table>
     </div>
 </div>
</main>

</body>
</html>