<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/User/layout/layout :: mainContent('Detail Hotel',~{this::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="content" class="relative block" style="background-color: #ebf0f7 !important;padding-top: 4rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <div class="mb-5 shadow-soft"
                     style="background-color: white;border-radius: 0.25rem!important;box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important">
                    <div class="py-3 px-4 px-xl-12 border-bottom">
                        <ul class="list-group flex-nowrap  list-group-horizontal list-group-borderless flex-center-between pt-1">
                            <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                <div class="mr-auto ml-auto border mb-2"
                                     style="display: flex;align-items: center;justify-content: center;border-width: 2px;color: white;border-color: #297cbb !important;border-radius: 50% !important;width: 2.5rem;height: 2.5rem;border: 1px solid #e7eaf3 !important;background-color: #297cbb !important">
                                    1
                                </div>
                                <div style="color: #297cbb !important;font-size: 1rem;font-weight: 400;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5">
                                    Customer information
                                </div>
                            </li>
                            <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                <div class="mr-auto ml-auto border mb-2"
                                     style="display: flex;align-items: center;justify-content: center;border-width: 2px;color: #3b444f;border-color: #297cbb !important;border-radius: 50% !important;width: 2.5rem;height: 2.5rem;border: 1px solid #e7eaf3 !important;">
                                    2
                                </div>
                                <div style="color: #297cbb !important;font-size: 1rem;font-weight: 400;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5">
                                    Payment information
                                </div>
                            </li>
                            <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                <div class="mr-auto ml-auto border mb-2"
                                     style="display: flex;align-items: center;justify-content: center;border-width: 2px;color: #3b444f;border-color: #297cbb !important;border-radius: 50% !important;width: 2.5rem;height: 2.5rem;border: 1px solid #e7eaf3 !important;">
                                    2
                                </div>
                                <div style="color: #297cbb !important;font-size: 1rem;font-weight: 400;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5">
                                    Payment information
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        <h5 id="scroll-description" class="text-dark mb-4"
                            style="font-size: 1.313rem;font-weight: 500 !important;font-family: 'Rubik', Helvetica, Arial, sans-serif;text-align: left">
                            Let Us Know Who You Are
                        </h5>
                        <form class="js-validate" th:action="@{/pay}" method="get">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                        <label class="form-label"
                                               style="font-family: 'Rubik', Helvetica, Arial, sans-serif;font-size: 1.2rem;font-weight: 400;line-height: 1.5;color: #3b444f">
                                            First Name
                                        </label>
                                        <input type="text" class="form-control" name="firstName"
                                               placeholder="First Name"
                                               style="padding: 0.9rem 1rem;height: calc(1.5em + 1.8rem + 4px);border: 3px solid #ebf0f7;color: #3b444f">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                        <label class="form-label"
                                               style="font-family: 'Rubik', Helvetica, Arial, sans-serif;font-size: 1.2rem;font-weight: 400;line-height: 1.5;color: #3b444f">
                                            Last Name
                                        </label>
                                        <input type="text" class="form-control" name="firstName" placeholder="Last Name"
                                               style="padding: 0.9rem 1rem;height: calc(1.5em + 1.8rem + 4px);border: 3px solid #ebf0f7;color: #3b444f">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                        <label class="form-label"
                                               style="font-family: 'Rubik', Helvetica, Arial, sans-serif;font-size: 1.2rem;font-weight: 400;line-height: 1.5;color: #3b444f">
                                            Email
                                        </label>
                                        <input type="text" class="form-control" name="firstName" placeholder="Email"
                                               style="padding: 0.9rem 1rem;height: calc(1.5em + 1.8rem + 4px);border: 3px solid #ebf0f7;color: #3b444f">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                        <label class="form-label"
                                               style="font-family: 'Rubik', Helvetica, Arial, sans-serif;font-size: 1.2rem;font-weight: 400;line-height: 1.5;color: #3b444f">
                                            Phone
                                        </label>
                                        <input type="tel" class="form-control" name="firstName" placeholder="Phone"
                                               style="padding: 0.9rem 1rem;height: calc(1.5em + 1.8rem + 4px);border: 3px solid #ebf0f7;color: #3b444f">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Special Requirements
                                        </label>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="4"
                                                      style="border: 2px solid #ebf0f7"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-6 mb-10 mt-4 mb-4">
                                    <div class="js-form">
                                        <h5 id="scroll-description" class="mb-2"
                                            style="font-size: 1.313rem;font-weight: 500 !important;color: #3b444f !important">
                                            Let Us know</h5>
                                        <p style="color: #77838f;line-height: 1.7;font-size: 16px;margin-top: 0;margin-bottom: 1rem;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                            We'll let the property or host know when to expect you.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 " style="align-self: flex-end !important">
                                    <div class="text-right">
                                        <button type="submit" class="btn transition-3d-hover py-3"
                                                style="background-color: #297cbb;border-color: #297cbb;min-width: 13.75rem;border-radius: 0.25rem !important;font-size: 1rem;font-weight: 500!important;color: white">
                                            NEXT PAGE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="shadow-soft rounded-sm" style="background-color: #ffffff">
                    <div class="pt-5 pb-3 border-bottom" style="padding-left: 2rem;padding-right: 2rem">
                        <a class="d-block mb-3">
                            <img class="img-fluid " style="border-radius: 0.188rem;width: 100%"
                                 src="https://transvelo.github.io/mytravel-html/assets/img/240x160/img2.jpg">
                        </a>
                        <a class="mb-1"
                           style="color: #3b444f !important;font-weight: 500 !important;text-decoration: none;background-color: transparent">
                            Indianapolis to paris
                        </a>
                        <div class="mb-2" style="display: flex;align-items: center;justify-content: space-between">
                            <div class="flex-horizontal-center" style="color: #67747c !important">Oneway flight</div>
                            <div style="color: #77838f !important">
                                <a style="text-decoration: underline">Edit</a>
                            </div>
                        </div>
                        <div class="mb-1"
                             style="display: flex;align-items: center;justify-content: center;flex-direction: column">
                            <h6 class=" mb-0"
                                style="font-weight: 500!important;font-size: 0.875rem;color: #18181b !important">02 hrs
                                45 mins</h6>
                            <div class="my-1 mt-2 border-top"
                                 style="width: 3.75rem;border-width: 2px !important;border-color: #297cbb !important"></div>
                            <div style="font-size: 0.875rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                Non Stop
                            </div>
                        </div>
                        <div class="flex-horizontal-center justify-content-between">
                            <div class="flex-horizontal-center">
                                <div class="mr-2">
                                    <i class="fa-solid fa-plane-departure"
                                       style="font-size: 1.875rem;color: #297cbb !important"></i>
                                </div>
                                <div class="ml-1" style="line-height: 1.2">
                                    <h6 class="mb-0"
                                        style="font-weight: 500 !important;font-size: 1.313rem;color: #18181b !important">
                                        18:30</h6>
                                    <span style="font-size: 0.875rem;color: #67747c !important;font-weight: 400 !important;;font-family: 'Rubik', Helvetica, Arial, sans-serif">New Delhi</span>
                                </div>
                            </div>
                            <div class="flex-horizontal-center">
                                <div class="mr-2">
                                    <i class="fa-solid fa-plane-departure"
                                       style="font-size: 1.875rem;color: #297cbb !important"></i>
                                </div>
                                <div class="ml-1" style="line-height: 1.2">
                                    <h6 class="mb-0"
                                        style="font-weight: 500 !important;font-size: 1.313rem;color: #18181b !important">
                                        18:30</h6>
                                    <span style="font-size: 0.875rem;color: #67747c !important;font-weight: 400 !important;;font-family: 'Rubik', Helvetica, Arial, sans-serif">New Delhi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="basicsAccordion">
                        <div class="card rounded-0 " style="border-left: 0;border-top: 0;border-right: 0">
                            <div class="card-header card-collapse border-0" style="background-color: transparent">
                                <h5 class="mb-0">
                                    <button type="button"
                                            class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4"
                                            style="font-size: 1.063rem;font-weight: bold;color: #3b444f !important">
                                        Booking Detail
                                        <span class="card-btn-arrow font-size-14 text-dark">
                                  <i class="fa-solid fa-arrow-down"
                                     style="color: #3b444f !important;font-size: 0.875rem"></i>
                                  </span>
                                    </button>

                                </h5>
                            </div>
                            <div class="collapse show">
                                <div class="card-body px-4 pt-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>