<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/Admin/layout :: mainContent('EditFlight',~{this::.content-wrapper})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row ">
            <!-- Form controls -->


            <!-- Input Sizing -->
            <div class="col-md-12">
                <form th:action="@{/Admin/Flight/UpdateFlight}" method="post">
                    <div class="card">

                        <div class="card-body">
                            <h5>Flight</h5>

                            <div class="mt-2 mb-4">
                                <label  class="form-label">Departure airport</label>
                                <select class="form-control " th:field="${flight.departure_airport}" >
                                    <option th:each="AirPorts : ${AirPort}" th:value="${AirPorts.id}"
                                            th:text="${AirPorts.name}"></option>
                                </select>
                            </div>
                            <div class="mt-2 mb-4">
                                <label  class="form-label">Arrival airport</label>
                                <select class="form-control " th:field="${flight.arrival_airport}" >
                                    <option th:each="AirPorts : ${AirPort}" th:value="${AirPorts.id}"
                                            th:text="${AirPorts.name}"></option>
                                </select>
                            </div>
                            <div class="mt-2 mb-4">
                                <label  class="form-label">Airline</label>
                                <select class="form-control" th:field="${flight.airline_id}">
                                    <option th:each="Airlines : ${Airline}" th:value="${Airlines.id}" th:text="${Airlines.name}"></option>
                                </select>
                            </div>
                            <div class="mt-2 mb -4">
                                <label class="form-label">Departure Time</label>
                                <input type="text" id="Departure_Time" class="form-control" th:field="${flight.departure_time}">

                            </div>  <div class="form-group mt-2 mb-4">
                            <label class="form-label">Arrival time</label>
                            <input type="text" id="datetimepicker" th:field="${flight.arrival_time}" class="form-control" >
                        </div>


                            <button type="button" class="btn btn-secondary mb-3" id="addDetailFlight">Add Detail Flight</button>



                        </div>


                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary">Save</button>
                            <input type="hidden" th:field="${flight.id}">

                        </div>
                    </div>
                </form>

            </div>

            <!-- Default Checkboxes and radios & Default checkboxes and radios -->

        </div>

    </div>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card">
                <h5 class="card-header">Danh sach Flight</h5>
                <div class="table-responsive text-nowrap">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <th:block th:each="item, iterStat: ${detailFlight}">
                                <tr>
                                    <td>
                                        <label th:text="${item.type}" th:id="'type-label-' + ${item.id}"></label>
                                        <select th:id="'type-' + ${item.id}" th:name="'detailFlight[' + ${iterStat.index} + '].type'"
                                                th:value="${item.type}" class="form-control" style="display: none" >
                                            <option value="Popular" th:selected="${item.type == 'Popular'}">Popular</option>
                                            <option value="Premium Economy" th:selected="${item.type == 'Premium Economy'}">Premium Economy</option>
                                            <option value="Merchant" th:selected="${item.type == 'Merchant'}">Merchant</option>
                                            <option value="First Class" th:selected="${item.type == 'First Class'}">First Class</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label th:text="${item.price}" th:id="'price-label-' + ${item.id}" ></label>
                                        <input type="number" th:id="'price-' + ${item.id}" th:name="'detailFlight[' + ${iterStat.index} + '].price'"
                                               th:value="${item.price}" class="form-control" style="display: none" />
                                    </td>
                                    <td>
                                        <label th:text="${item.quantity}"  th:id="'quantity-label-' + ${item.id}" ></label>
                                        <input type="number" step="0.01"  th:id="'quantity-' + ${item.id}"   th:name="'detailFlight[' + ${iterStat.index} + '].quantity'"
                                               th:value="${item.quantity}" class="form-control" style="display: none" />
                                    </td>
                                    <td >
                                        <a th:id="'editBtn'+${item.id}" style="background-color: #4299e1;border-color: #4299e1"
                                           class="btn btn-inf edit-btn" th:data-id="${item.id}">
                                            <i style="color: white" class="fa fa-pencil"></i>
                                        </a>
                                        <a th:id="'saveBtn'+${item.id}" style="background-color: #4299e1;border-color: #4299e1;display: none !important;"
                                           class="btn btn-inf save-btn" th:data-id="${item.id}">
                                            <i style="color: white" class="fa fa-save"></i>
                                        </a>
                                    </td>
                                    <!-- Hidden fields for ID and related data -->
                                    <input type="hidden" th:name="'detailFlight[' + ${iterStat.index} + '].id'"   th:value="${item.id}" />
                                    <input type="hidden" th:name="'detailFlight[' + ${iterStat.index} + '].idFlight'"  th:value="${item.idFlight}" />
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <div class="mt-5">
                            <button type="button" id="saveButton" class="btn btn-outline-primary">Save</button>
                        </div>




                    <div id="token" style="display: none" th:text="${token}"></div>
                    <div id="IdCountry" style="display: none" th:text="${IdCountry}"></div>
                    <div id="url" style="display: none" th:text="${url}"></div>


                </div>
            </div>
        </div>
    </div>

    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl">
            <div
                    class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                <div class="text-body mb-2 mb-md-0">
                    ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    , made with <span class="text-danger"><i class="tf-icons ri-heart-fill"></i></span> by
                    <a href="https://themeselection.com" target="_blank" class="footer-link">ThemeSelection</a>
                </div>
                <div class="d-none d-lg-inline-block">
                    <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                    <a
                            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
                            target="_blank"
                            class="footer-link me-4"
                    >Documentation</a
                    >

                    <a
                            href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
                            target="_blank"
                            class="footer-link"
                    >Support</a
                    >
                </div>
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
    <script th:fragment="customScripts" th:src="@{/Admin/FlightPortTable/EditPortTable.js}"></script>
</div>


</body>
</html>