<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/User/layout/layoutLogin :: mainContent('Round Trip',~{this::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="content" class="relative block">

    <div class=" py-1">
        <div style="position: relative;margin-bottom: 13vh">
            <div style="padding-bottom: 5px;position: absolute;width: 100%">
                <div style="background-image: url('https://cdn6.agoda.net/images/PACKAGES-251/default/pkg_headbg_modifysearch@2x.jpg');
background-size: cover;color: rgb(249, 249, 250);height: 115px;margin: 0;width: 100%;min-width: 980px;box-sizing: border-box;display: flex;align-items: center;flex-wrap: nowrap">
                    <div style="margin: auto;width: 1100px;box-sizing: border-box;display: flex;align-items: center;flex-wrap: nowrap">
                        <div style="max-width: calc(100% - 180px);box-sizing: border-box;margin: 0px;display: block;flex-basis: 100%;flex-grow: 0">
                            <span style="font-size: 20px;font-weight: 500;color: #fff;line-height: 20px">Chuyến đi từ Hồ Chí Minh (SGN) tới Hà Nội (HAN)</span>
                            <div style="box-sizing: border-box;display: flex;width: 100%;align-items: flex-start;flex-wrap: nowrap">
                                <div style="box-sizing: border-box;margin: 0px">
                                    <span style="background-color: rgb(37, 181, 124);border-radius: 2px;display: block;padding: 0px 8px;margin-top: 4px;font-size: 14px;line-height: 32px;font-weight: 400">
                                        <i class="fa-solid fa-plane-circle-check"></i>
                                        <span style="font-size: 17px;line-height: 16px;font-weight: 400">Flight</span>
                                    </span>
                                    <span style="background-color: rgb(37, 181, 124);border-radius: 2px;display: block;padding: 0px 8px;margin-top: 4px;font-size: 14px;line-height: 32px;font-weight: 400">
                                        <i class="fa-solid fa-hotel"></i>
                                        <span style="font-size: 17px;line-height: 16px;font-weight: 400">Hotel</span>
                                    </span>
                                </div>
                                <div style="padding: 0px 8px">
                                    <span style="display: block;padding: 2px 0px;margin-top: 4px" th:text="${DepartureDate}+'   -   '+${ArrivalDate}">t2, 23 tháng 12 2024</span>
                                    <span style="display: block;padding: 2px 0px;margin-top: 4px" th:text="${CheckIn}+'   -   '+${CheckOut}">t2, 23 tháng 12 2024</span>
                                </div>
                                <div style="padding-left: 8px;position: relative;box-sizing: border-box;margin: 0px"
                                     class="kMETju">
                                    <span style="display: block;padding: 2px 0px;margin-top: 7px;font-size: 17px;line-height: 16px;font-weight: 400;margin-bottom: 1vh" th:text="${People}+' People'">2 People</span>
                                    <span style="display: block;padding: 2px 0px;margin-top: 4px;font-size: 17px;line-height: 16px;font-weight: 400;position: relative;top: 1px" th:text="${Room}+' Room'">2 Room</span>

                                </div>
                            </div>
                        </div>
                        <div style="width: 180px;box-sizing: border-box;margin: 0px">
                            <div style="background-color: transparent;box-shadow: none;padding: 0px;border: 0px;float: right;border-radius: 0px">
                                <button id="SearchBtn"
                                        style="min-width: 99px;max-width: 180px;position: relative;border: none;user-select: none;padding: 12px;border-radius: 4px;background-color: rgb(83, 146, 249);color: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;transition: 0.15s ease-in-out">
                                    <div style="display: flex;align-items: center">
                                        <div>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <span style="margin-left: 4px;font-size: 16px;line-height: 22px;font-weight: 400">Search</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row pt-5 pt-xl-8 mb-5 mb-xl-9 pb-xl-1" style="margin-left: 100px;margin-right: 100px">
            <div class="col-lg-4 col-xl-3 mt-xl-1">
                <div class="navbar-expand-xl navbar-expand-xl-collapse-block">
                    <div id="sidebar" class="collapse navbar-collapse">
                        <div class="mb-6 w-100">
                            <div class="sidenav border border-color-8 rounded-xs">
                                <div id="shopCategoryAccordion" class="accordion rounded-0 shadow-none">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCategoryHeadingOne">
                                            <h3 class="mb-0">
                                                <button class="btn btn-link btn-block card-btn py-2 px-5 collapsed"
                                                        style="line-height: 3">
                                                   <span class="row align-items-center">
                                                       <span class="col-2">
                                                           <span class="text-dark mb-3"
                                                                 style="font-size: 1.063rem;font-weight: 500">Stops</span>
                                                       </span>
                                                       <span class="col-10 text-right">
                                                           <span class="card-btn-arrow">
                                                               <i class="fas fa-chevron-down small"></i>
                                                           </span>
                                                       </span>
                                                   </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div id="shopCategoryOne" class="collapse show border-bottom">

                                            <div class="card-body pt-0 mt-1 px-5 pb-4">
                                                <div class="d-flex align-items-center justify-content-between mb-3">
                                                    <label class="form-check-label" for="selectAllToggle">Chọn tất cả
                                                        các hãng</label>
                                                    <div class="form-check form-switch ms-3">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="selectAllToggle" style="font-size: 24px">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">




                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="shopCartAccordion" class="accordion rounded shadow-none border-bottom">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCardHeadingOne">
                                            <h3 class="mb-0">
                                                <button type="button" class="btn btn-link btn-block card-btn "
                                                        style="line-height: 3">
                                                <span class="row align-items-center">
                                                    <span class="col-5">
                                                        <span class="d-block"
                                                              style="font-size: 1.063rem;font-weight: 500 !important;color: #3b444f !important">Price Range ($)</span>
                                                    </span>
                                                    <span class="col-7 text-right">
                                                        <span class="card-btn-arrow">
                                                            <i class="fas fa-chevron-down small"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <!-- Range Slider -->
                                            <div class="price-range-slider">
                                                <div class="price-range-display">
                                                    <span id="price-range-text">£200 - £3456</span>
                                                </div>
                                                <div class="slider-container">
                                                    <div id="price-range" class="slider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="shopCartAccordion" class="accordion rounded shadow-none border-bottom">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCardHeadingOne">
                                            <h3 class="mb-0">
                                                <button type="button" class="btn btn-link btn-block card-btn "
                                                        style="line-height: 3">
                                                <span class="row align-items-center">
                                                    <span class="col-5">
                                                        <span class="d-block"
                                                              style="font-size: 1.063rem;font-weight: 500 !important;color: #3b444f !important">Price Range ($)</span>
                                                    </span>
                                                    <span class="col-7 text-right">
                                                        <span class="card-btn-arrow">
                                                            <i class="fas fa-chevron-down small"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <!-- Range Slider -->
                                            <div class="price-range-slider">
                                                <div class="price-range-display">
                                                    <span id="ScheduleStart">£200 - £3456</span>
                                                </div>
                                                <div class="slider-container">
                                                    <div id="Schedule-range" class="slider"></div>
                                                </div>
                                            </div>
                                            <div class="price-range-slider pt-5">
                                                <div class="price-range-display">
                                                    <span id="ScheduleEnd">£200 - £3456</span>
                                                </div>
                                                <div class="slider-container">
                                                    <div id="Schedule-range-end" class="slider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="shopCartAccordion" class="accordion rounded shadow-none border-bottom">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCardHeadingOne">
                                            <h3 class="mb-0">
                                                <button type="button" class="btn btn-link btn-block card-btn "
                                                        style="line-height: 3">
                                                <span class="row align-items-center">
                                                    <span class="col-5">
                                                        <span class="d-block"
                                                              style="font-size: 1.063rem;font-weight: 500 !important;color: #3b444f !important">Price Range ($)</span>
                                                    </span>
                                                    <span class="col-7 text-right">
                                                        <span class="card-btn-arrow">
                                                            <i class="fas fa-chevron-down small"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <!-- Range Slider -->
                                            <div class="price-range-slider">
                                                <div class="price-range-display">
                                                    <span id="TimeRange">£200 - £3456</span>
                                                </div>
                                                <div class="slider-container">
                                                    <div id="Time-range" class="slider"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="shopCategoryAccordi" class="accordion rounded-0 shadow-none">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCategoryHeadingOne">
                                            <h3 class="mb-0">
                                                <button class="btn btn-link btn-block card-btn py-2 px-5 collapsed"
                                                        style="line-height: 3">
                                                   <span class="row align-items-center">
                                                       <span class="col-2">
                                                           <span class="text-dark mb-3"
                                                                 style="font-size: 1.063rem;font-weight: 500">Stops</span>
                                                       </span>
                                                       <span class="col-10 text-right">
                                                           <span class="card-btn-arrow">
                                                               <i class="fas fa-chevron-down small"></i>
                                                           </span>
                                                       </span>
                                                   </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div id="shopCategoryOne" class="collapse show border-bottom">
                                            <div class="card-body pt-0 mt-1 px-5 pb-4">
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="shopCategoryAccordi" class="accordion rounded-0 shadow-none">
                                    <div class="border-0">
                                        <div class="card-collapse" id="shopCategoryHeadingOne">
                                            <h3 class="mb-0">
                                                <button class="btn btn-link btn-block card-btn py-2 px-5 collapsed"
                                                        style="line-height: 3">
                                                   <span class="row align-items-center">
                                                       <span class="col-2">
                                                           <span class="text-dark mb-3"
                                                                 style="font-size: 1.063rem;font-weight: 500">Stops</span>
                                                       </span>
                                                       <span class="col-10 text-right">
                                                           <span class="card-btn-arrow">
                                                               <i class="fas fa-chevron-down small"></i>
                                                           </span>
                                                       </span>
                                                   </span>
                                                </button>
                                            </h3>
                                        </div>
                                        <div id="shopCategoryOne" class="collapse show border-bottom">
                                            <div class="card-body pt-0 mt-1 px-5 pb-4">
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"
                                                     style="font-size: 0.875rem;line-height: 1;color: #67747c !important">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="cus-control-label">
                                                            Non Stop
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 mt-xl-1">
                <div  >
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 pb-1">
                        <h3 class="mb-4 mb-md-0 text-center"
                            style="font-size: 1.313rem;font-weight: 500;line-height: 1;text-align: left">1984 results
                            found.</h3>
                        <div class="d-flex align-items-center justify-content-between justify-content-md-start">
                        <a href="#" onclick="goBack()">Change</a>
                        </div>
                    </div>
                    <div class="tab-content" style="display: block;border: none">


                        <div class="row">

                            <div id="flight-item"
                                 class="hover-bg-gray-1 border rounded-xs py-4 px-4 px-xl-5"
                                 style="border-radius: 0.188rem" th:data-airline-id="${flight.idFlight}"
                                 th:data-price="${flight.price}" th:data-TimeDepart="${flight.timeDepart}"
                                 th:data-timeArrival="${flight.timeArrival}"
                                 th:data-duration="${flight.durationString}">
                                <div class="row align-items-center text-center">
                                    <div class="col-md mb-4 mb-md-0">
                                        <img class="img-fluid"
                                             th:src="${'http://localhost:8686/images/flight/'+flight.imageUrl}"/>
                                    </div>
                                    <div class="col-md mb-4 mb-md-0">
                                        <div class="" style="display: flex;align-items: center;justify-content: center">
                                            <div class="mr-lg-3 mb-1 mb-lg-0">
                                                <i class="fa-solid fa-plane-departure" style="color: #297cbb !important;font-size: 1.875rem"></i>
                                            </div>
                                            <div class="text-left">
                                                <h6 class="mb-0" style="font-weight: 500;font-size: 1.9rem;color: #18181b !important;line-height: 1.5;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flight.timeDepart}">
                                                    18:30
                                                </h6>
                                                <span class="" style="font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flight.nameAiport}">New Delhi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-4 mb-md-0">
                                        <div class="mb-0" style="display: flex;align-items: center;justify-content: center;flex-direction: column">
                                            <h6 th:text="${flight.durationString}" style="font-weight: 500 !important;font-size: 1.2rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                02 hrs 45 mins
                                            </h6>

                                            <div class="border-top my-1" style="width: 3.75rem;border-width: 2px !important;border-color: #297cbb !important;margin-top: -2vh"></div>
                                            <h6 style="font-weight: 500 !important;font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                Non Stop
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md mb-4 mb-md-0">
                                        <div class="" style="display: flex;align-items: center;justify-content: center">
                                            <div class="mr-lg-3 mb-1 mb-lg-0">
                                                <i class="fa-solid fa-plane-arrival"  style="color: #297cbb !important;font-size: 1.875rem"></i>

                                            </div>
                                            <div class="text-left">
                                                <h6 class="mb-0" style="font-weight: 500;font-size: 1.9rem;color: #18181b !important;line-height: 1.5;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flight.timeArrival}">
                                                    18:30
                                                </h6>
                                                <span class="" style="font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flight.nameArrivalAirport}">New Delhi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2gdot8">
                                        <div class="border-xl-left">
                                            <div class="ml-xl-5">
                                                <div class="mb-2">
                                                    <div class="mb-2 text-lh-1dot4">
                                                                    <span th:text="'$'+${flight.price}" class="font-weight-bold font-size-22" style="font-weight: 500 !important;font-size: 1.375rem;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                                        £4,177
                                                                    </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>   <div  >
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 pb-1">
                        <h3 class="mb-4 mb-md-0 text-center"
                            style="font-size: 1.313rem;font-weight: 500;line-height: 1;text-align: left" th:text="'Chọn chuyến bay trở về  '+${NameArrivalAirport}">Chọn chuyến bay trở về Hà Nội</h3>

                    </div>
                <p>Giá bổ sung cho mỗi hành khách. Giá bao gồm thuế và phí.</p>
                    <div class="tab-content" style="display: block;border: none;background-color: transparent">

                        <th:block th:each="flightarrivals,index : ${flightArrival}">
                            <div class="row">

                                <div id="flight-itemArrival"
                                     class="hover-bg-gray-1 border rounded-xs py-4 px-4 px-xl-5"
                                     style="border-radius: 0.188rem" th:data-airline-id="${flightarrivals.idFlight}"
                                     th:data-price="${flightarrivals.price}" th:data-TimeDepart="${flightarrivals.timeDepart}"
                                     th:data-timeArrival="${flightarrivals.timeArrival}"
                                     th:data-duration="${flightarrivals.durationString}">
                                    <div class="row align-items-center text-center">
                                        <div class="col-md mb-4 mb-md-0">
                                            <img class="img-fluid"
                                                 th:src="${'http://localhost:8686/images/flight/'+flightarrivals.imageUrl}"/>
                                        </div>
                                        <div class="col-md mb-4 mb-md-0">
                                            <div class="" style="display: flex;align-items: center;justify-content: center">
                                                <div class="mr-lg-3 mb-1 mb-lg-0">
                                                    <i class="fa-solid fa-plane-departure" style="color: #297cbb !important;font-size: 1.875rem"></i>
                                                </div>
                                                <div class="text-left">
                                                    <h6 class="mb-0" style="font-weight: 500;font-size: 1.9rem;color: #18181b !important;line-height: 1.5;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flightarrivals.timeDepart}">
                                                        18:30
                                                    </h6>
                                                    <span class="" style="font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flightarrivals.nameAiport}">New Delhi</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md mb-4 mb-md-0">
                                            <div class="mb-0" style="display: flex;align-items: center;justify-content: center;flex-direction: column">
                                                <h6 th:text="${flightarrivals.durationString}" style="font-weight: 500 !important;font-size: 1.2rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                    02 hrs 45 mins
                                                </h6>

                                                <div class="border-top my-1" style="width: 3.75rem;border-width: 2px !important;border-color: #297cbb !important;margin-top: -2vh"></div>
                                                <h6 style="font-weight: 500 !important;font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                    Non Stop
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-md mb-4 mb-md-0">
                                            <div class="" style="display: flex;align-items: center;justify-content: center">
                                                <div class="mr-lg-3 mb-1 mb-lg-0">
                                                    <i class="fa-solid fa-plane-arrival"  style="color: #297cbb !important;font-size: 1.875rem"></i>

                                                </div>
                                                <div class="text-left">
                                                    <h6 class="mb-0" style="font-weight: 500;font-size: 1.9rem;color: #18181b !important;line-height: 1.5;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flightarrivals.timeArrival}">
                                                        18:30
                                                    </h6>
                                                    <span class="" style="font-size: 1rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif" th:text="${flightarrivals.nameArrivalAirport}">New Delhi</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2gdot8">
                                            <div class="border-xl-left">
                                                <div class="ml-xl-5">
                                                    <div class="mb-2">
                                                        <div class="mb-2 text-lh-1dot4">
                                                                    <span th:text="'$'+${flightarrivals.price}" class="font-weight-bold font-size-22" style="font-weight: 500 !important;font-size: 1.375rem;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                                        £4,177
                                                                    </span>
                                                        </div>
                                                        <a th:if="${searchFlightDTO.selectedHotel==false}" th:href="'/InformationFly/'+${flightarrivals.id}" class="btn btn-outline-primary border-radius-3 d-flex align-items-center justify-content-center min-height-50 font-weight-bold border-width-2 py-2 w-100"
                                                           style="min-height: 3.125rem">Book Now</a>
                                                        <a th:if="${searchFlightDTO.selectedHotel==true}" th:href="'/InformationFlightHotel/'+${flightarrivals.id}" class="btn btn-outline-primary border-radius-3 d-flex align-items-center justify-content-center min-height-50 font-weight-bold border-width-2 py-2 w-100"
                                                           style="min-height: 3.125rem">Book Now</a>
                                                        <a class="flight-details-link mt-1" th:data-idFlight="${flightarrivals.id}" style="font-size: 1rem;color: #67747c !important;display: block;text-decoration: none;background-color: transparent;font-family: 'Rubik', Helvetica, Arial, sans-serif">
                                                            Flight Details
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </th:block>


                        <input type="hidden" id="minPrice" th:value="${MinPrice}">
                        <input type="hidden" id="maxPrice" th:value="${MaxPrice}">

                    </div>
                </div>


                </div>




                </div>

            </div>

        </div>

    </div>
    <div id="flight-details-popup" class="custombox-overlay custombox-fadein custombox-open" style="background-color: rgb(0, 0, 0);display: none;">

    </div>
    <div id="flight-details-content" class="custombox-content custombox-x-center custombox-y-center custombox-fadein custombox-open" style="animation-duration: 300ms; animation-delay: 150ms;display: none">
        <div class="js-modal-window u-modal-window " style="display: block;width: 153vh">
            <div class="card mx-4 mx-xl-0 mb-4 mb-md-0" style="width: 103%">
                <button id="close-popup" type="button" class="border-0 mr-n4 mt-n4" style="width: 3.125rem;height: 3.125rem;cursor: pointer;display: flex;align-items: center;justify-content: center;position:absolute;border-radius: 50%;background-color: #297cbb !important;top: 0;right: 0">
                    <i class="fa-solid fa-xmark" style="color: #fff !important;font-size: 0.875rem"></i>
                </button>
                <header class="card-header py-4 px-4" style="background-color: #f8f9fa !important">
                    <div class="row align-items-center text-center">
                        <div class="col-md-auto mb-4 ">
                            <div class="d-block d-lg-flex flex-horizontal-center">
                                <img style="max-width: 8%" id="img-popup" class="img-fluid mr-3 mb-3 mb-lg-0" src="https://transvelo.github.io/mytravel-html/assets/img/90x90/img1.png">
                                <div id="nameAirline" class="" style="font-size: 1rem;font-family: 'Rubik', Helvetica, Arial, sans-serif">Spicejet SG 143 | Boeing 737-700</div>
                            </div>
                        </div>
                        <div class="col-md-auto mb-4 mb-md-0">
                            <div class="mx-2 mx-xl-3 " style="display: flex;align-items: flex-start;justify-content: center">
                                <div class="mr-lg-3 mb-1 mb-lg-0">
                                    <i class="fa-solid fa-plane-departure" style="font-size: 1.875rem;color: #297cbb !important"></i>
                                </div>
                                <div style="text-align: left">
                                    <h6 class="mb-0" style="font-weight: 500 !important;font-size: 1.313rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">18:30</h6>
                                    <div id="dateDepart" class="" style="font-size: 0.875rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Sat, 21 Sep 19</div>
                                    <span class="" style="font-size: 0.875rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">New Delhi, India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto mb-4 mb-md-0">
                            <div class="mx-2 mx-xl-3" style="display: flex;align-items: center;justify-content: center;flex-direction: column">
                                <h6 id="durationString" style="font-weight: 500!important;font-size: 0.975rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">02 hrs 45 mins</h6>
                                <div class="border-top my-1" style="width: 3.75rem;border-color: #297cbb !important;border-width: 2px !important"></div>
                                <div style="font-size: 0.875rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Non Stop</div>
                            </div>
                        </div>
                        <div class="col-md-auto mb-4 mb-md-0">
                            <div class="mx-2 mx-xl-3 " style="display: flex;align-items: flex-start;justify-content: center">
                                <div class="mr-lg-3 mb-1 mb-lg-0">
                                    <i class="fa-solid fa-plane-arrival"  style="font-size: 1.875rem;color: #297cbb !important"></i>

                                </div>
                                <div style="text-align: left">
                                    <h6 id="TimeArrival" class="mb-0" style="font-weight: 500 !important;font-size: 1.313rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">18:30</h6>
                                    <div id="dateArrival" class="" style="font-size: 0.875rem;color: #18181b !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Sat, 21 Sep 19</div>
                                    <span class="" style="font-size: 0.875rem;color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">New Delhi, India</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!--                <div class="card-body py-4 p-md-5">-->
                <!--                    <div class="row">-->
                <!--                        <div class="col">-->
                <!--                            <ul class="d-block d-md-flex list-group list-group-borderless list-group-horizontal list-group-flush no-gutters">-->
                <!--                                <li class="mr-md-8 mr-lg-10 mb-5 list-group-item py-0">-->
                <!--                                    <div class="" style="font-weight: 500 !important;color: #3b444f !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Baggage</div>-->
                <!--                                    <span class="" style="color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Adult</span>-->
                <!--                                </li>-->
                <!--                                <li class="mr-md-8 mr-lg-10 mb-5 list-group-item py-0">-->
                <!--                                    <div class="" style="font-weight: 500 !important;color: #3b444f !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Baggage</div>-->
                <!--                                    <span class="" style="color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Adult</span>-->
                <!--                                </li>-->
                <!--                                <li class="mr-md-8 mr-lg-10 mb-5 list-group-item py-0">-->
                <!--                                    <div class="" style="font-weight: 500 !important;color: #3b444f !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Baggage</div>-->
                <!--                                    <span class="" style="color: #67747c !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Adult</span>-->
                <!--                                </li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                        <div class="col-auto">-->
                <!--                            <div class="" style="min-width: 15.625rem">-->
                <!--                                <h5 style="font-size: 1.063rem;font-weight: 500 !important;color: #3b444f !important;font-family: 'Rubik', Helvetica, Arial, sans-serif">Fare breakup</h5>-->
                <!--                                <ul class="list-unstyled mb-0" style="font-size: 1rem">-->
                <!--                                    <li class="d-flex py-2"  style="justify-content: space-between">-->
                <!--                                        <span class="" style="font-weight: 500!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #3b444f">-->
                <!--                                            Base Fare-->
                <!--                                        </span>-->
                <!--                                        <span class="" style="font-weight: 400!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #77838f !important">-->
                <!--                                         €580,00-->
                <!--                                        </span>-->
                <!--                                    </li>-->
                <!--                                    <li class="d-flex py-2"  style="justify-content: space-between">-->
                <!--                                        <span class="" style="font-weight: 500!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #3b444f">-->
                <!--                                            Surcharges-->
                <!--                                        </span>-->
                <!--                                        <span class="" style="font-weight: 400!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #77838f !important">-->
                <!--                                         €00,00-->
                <!--                                        </span>-->
                <!--                                    </li>-->
                <!--                                    <li class="d-flex py-2"  style="justify-content: space-between">-->
                <!--                                        <span class="" style="font-weight: 500!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #3b444f">-->
                <!--                                           Pay Amount-->
                <!--                                        </span>-->
                <!--                                        <span class="" style="font-weight: 400!important;font-family: 'Rubik', Helvetica, Arial, sans-serif;line-height: 1.5;color: #77838f !important">-->
                <!--                                         €00,00-->
                <!--                                        </span>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
    <script th:fragment="customScripts" th:src="@{/user/SearchFlight/RoundTrip.js}">

    </script>

</main>


</body>
</html>